.contact {
  display: flex !important;
  flex-direction: column;
  margin:0;
  border:rgba(128, 130, 127, 0.3) 1px solid;
  padding: 0.5rem;
  text-decoration: none;
  background-color: rgba(218, 162, 145, 0.5);
  box-shadow: 0rem 1rem 1rem 1px #888;
  border-radius: 5px;
}