footer {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    background-color: rgb(221, 126, 146);
    color: white;
    padding: 2rem 2rem;
    a {
      text-decoration: none;
      color:  white;
    }
}