header {
  
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  background-color: rgb(221, 126, 146);
  padding: 0rem 1rem;
  line-height: 10px;
  box-shadow: 0rem 1rem 1rem 1px #888;
  a {
    text-decoration: none;
    color:white;
    margin-left: 10px;
  }
  nav {
    align-self: center;
    padding: 10px 0px;
  }
}
