header {
  
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  background-color: rgb(221, 126, 146);
  padding: 0rem 1rem;
  line-height: 10px;

 .menu :link{
  padding: 10px;
}

  a {
    text-decoration: none;
    color:white;
  }
  nav {
    align-self: center;
    padding: 5px 0px;
  }
}
