.page-navigation {
  margin: 2rem 0;
  text-align: center;
  a {
    border: rgb(221, 126, 146) 1px solid;
    color: rgb(221, 126, 146);
    margin: 2px;
    padding: 0.5rem;
    text-decoration: none;
  }
}
